.homebtn {
  font-size: 28px;
  height: 260px;
  width: 300px;
  display: inline-block;
  vertical-align: bottom;
  margin: 20px;
  font-family: revert;
  border-radius: 1.25rem;
  border-color: rgb(31, 34, 34);
}
.homebtn:hover {
  color: #fff;
  background-color: #282c2f;
  border-color: #232628;
}
.centered{
display: flex;
align-items: center;
justify-content: center;
}
.title {
  text-align: center;
  color: aliceblue;
  padding: 50px;
  margin: 30px;
  font-family: fangsong;
  font-size: 91px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
