.centered {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.box {
  width: 320px;
  height: 158px;
  background: rgb(46, 44, 44);
  border: 1px solid rgb(70, 69, 69);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.homebtn {
  font-size: 28px;
  height: 260px;
  width: 300px;
  display: inline-block;
  vertical-align: bottom;
  margin: 20px;
  font-family: revert;
  border-radius: 1.25rem;
  border-color: rgb(31, 34, 34);
}
.homebtn:hover {
  color: #fff;
  background-color: #282c2f;
  border-color: #232628;
}

.column {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
